{{!-- Extend the main layout --}}
{{#extend "main"}}

{{#content "body"}}
<h1>Welcome to the Blog</h1>

{{#each posts as |post|}}
    <article class="post">
        <h2><a href=/posts/{{post.id}}">{{post.title}}</a></h2>
        <p>{{Posted on {{post.createdAt}}</p>
    </article>
{{/each}}
{{/content}}

{{/extend}}
